<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wevalue"
    android:versionCode="1"
    android:versionName="1.0.0">

    <permission
        android:name="com.wevalue.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
    <uses-permission android:name="com.wevalue.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- zxing权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 蒲公英权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 获取logcat日志 -->
    <application
        android:name=".WeValueApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QASB4zfLiCgwePlylTF7sSu5SEd8DRyY" />
        <meta-data
            android:name="PGYER_APPID"
            android:value="c08a6a8dd2ee7c9b3f5bcbf917061189" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="587c98093eae2534d0001da5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="自主渠道" />

        <!-- 首页 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <!-- 启动页 -->
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".ui.login.GuideActivity"
            android:launchMode="singleTask" />
        <!-- 注册信息填写界面 -->
        <activity
            android:name=".ui.login.RegisterActivity"
            android:launchMode="singleTask" />
        <!-- 认证界面 -->
        <activity
            android:name=".ui.login.RenZhengActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 分类选择 -->
        <activity
            android:name=".ui.login.TypeChoiceActivity"
            android:launchMode="singleTask" />

        <!-- 微值协议界面 -->
        <activity
            android:name=".ui.login.WeValueAgreementActivity"
            android:launchMode="singleTask" />
        <!-- 注册成功界面 -->
        <activity
            android:name=".ui.login.RegisterSuccessActivity"
            android:launchMode="singleTask" />
        <!-- 选择频道 -->
        <activity
            android:name=".ChoiceChannelActivity"
            android:launchMode="singleTask" />

        <!-- 登录 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask" />

        <!-- 用户注册 -->
        <activity
            android:name=".ui.login.UserRegisterActivity"
            android:launchMode="singleTask" />
        <!-- 忘记密码 -->
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:launchMode="singleTask" />

        <!-- 设置新密码 -->
        <activity
            android:name=".ui.login.ModifyPswActivity"
            android:launchMode="singleTask" />
        <!-- 修改支付密码 -->
        <activity
            android:name=".ui.login.ModifyPayPswActivity"
            android:launchMode="singleTask" />

        <!-- 设置 -->
        <activity
            android:name=".ui.mine.activity.SettingActivity"
            android:launchMode="singleTask" />

        <!-- 用户信息详情 -->
        <activity
            android:name=".ui.mine.activity.MyInfoActivity"
            android:launchMode="singleTask" />

        <!-- 修改昵称或简介界面 -->
        <activity android:name=".ui.mine.activity.ModifyDataActivity" />

        <!-- 我的二维码界面 -->
        <activity android:name=".ui.mine.activity.MyQRCodeActivity" />

        <!-- 账户安全 -->
        <activity
            android:name=".ui.mine.activity.AccountInfoActivity"
            android:launchMode="singleTask" />

        <!-- 设置支付密码 -->
        <activity
            android:name=".ui.mine.activity.SetPayPswActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- 忘记支付密码 -->
        <activity
            android:name=".ui.mine.activity.WangJiPayPswActivity"
            android:launchMode="singleTask" />

        <!-- 绑定和修改手机或邮箱 -->
        <activity
            android:name=".ui.mine.activity.BindingTelEmailActivity"
            android:launchMode="singleTask" />

        <!-- 关于我们 -->
        <activity
            android:name=".ui.mine.activity.GuanYuActivity"
            android:launchMode="singleTask" />

        <!-- 意见反馈 -->
        <activity
            android:name=".ui.mine.activity.FanKuiActivity"
            android:launchMode="singleTask" />

        <!-- 意见反馈 -->
        <activity
            android:name=".ui.mine.activity.FeedbackActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- 我的等级界面 -->
        <activity
            android:name=".ui.mine.activity.GradeActivity"
            android:launchMode="singleTask" />

        <!-- 我的钱包 -->
        <activity
            android:name=".ui.mine.activity.WalletActivity"
            android:launchMode="singleTask" />

        <!-- 关于微值 -->
        <activity
            android:name=".ui.mine.activity.AboutWeValueActivity"
            android:launchMode="singleTask" />

        <!-- 我的碎银 -->
        <activity
            android:name=".ui.mine.activity.MySuiYinActivity"
            android:launchMode="singleTask" />

        <!-- 我的权限 -->
        <activity
            android:name=".ui.mine.activity.MyQuanxianActivity"
            android:launchMode="singleTask" />

        <!-- 我的发布 -->
        <activity
            android:name=".ui.mine.activity.MyNoteActivity"
            android:launchMode="singleTop" />

        <!-- 我的转发 -->
        <!--
            <activity
            android:name=".ui.mine.activity.MyTransmitActivity"
            android:launchMode="singleTask" />
        -->
        <!-- 我的打赏 -->
        <!--
            <activity
            android:name=".ui.mine.activity.MyRewardActivity"
            android:launchMode="singleTask" />
        -->


        <!-- 碎银明细  和 权限明细 -->
        <activity
            android:name=".ui.mine.activity.WebActivity"
            android:launchMode="singleTask" />

        <!-- 城市切换 -->


        <!-- 获取音频视频 -->
        <activity android:name=".ui.world.activity.GetvAudioAndVideoActivity" />
        <!-- 发布帖子 -->
        <activity
            android:name=".ui.release.ReleaseNoteActivity"
            android:configChanges="orientation|keyboardHidden" />
        <!-- 选择图片 -->
        <activity android:name=".ui.world.activity.PicChoiceActivity" />
        <!-- 拍摄视频 -->
        <activity android:name=".ui.world.activity.NewRecordVideoActivity" />
        <!-- 播放音频界面 -->
        <activity
            android:name=".ui.world.activity.PlayActivity"
            android:launchMode="singleTask" />
        <!-- 录音界面 -->
        <activity android:name=".ui.world.activity.AudioActivity" />
        <!-- 播放视频界面 -->
        <activity
            android:name=".ui.world.activity.Play_videoActivity"
            android:configChanges="orientation|screenSize" />

        <!-- 帖子详情 -->
        <activity android:name=".ui.details.activity.NoteDetailsActivity" />

        <!-- 图片查看界面 -->
        <activity
            android:name=".ui.world.activity.ImgShowActivity"
            android:launchMode="singleTask" />
        <!-- 二维码扫面界面 -->
        <!-- 添加好友界面 -->
        <activity
            android:name=".ui.add.activity.AddFriendsActivity"
            android:launchMode="singleTask" />
        <!-- 通讯录好友界面 -->
        <!-- 附近的人界面 -->
        <activity
            android:name=".ui.add.activity.AddFromNearbyActivity"
            android:launchMode="singleTask" />
        <!-- 世界进入排行榜的界面 -->
        <activity
            android:name=".ui.add.activity.RankingListActivity"
            android:launchMode="singleTask" />
        <!-- 转发界面 -->
        <activity android:name=".ui.world.activity.TransmitNoteActivity" />
        <!-- 评论界面 -->
        <activity
            android:name=".ui.world.activity.PinLunActivity"
            android:launchMode="singleTask" />

        <!-- 情绪界面 -->
        <activity android:name=".ui.world.activity.EmoTionActivity" />
        <!-- 搜索结果 -->
        <activity
            android:name=".ui.world.activity.SearchJieguoActivity"
            android:launchMode="singleTask" />
        <!-- 搜索界面 -->
        <activity
            android:name=".ui.world.activity.SearchActivity"
            android:launchMode="singleTask" />
        <!-- 用户详情 -->
        <activity
            android:name=".ui.details.activity.UserDetailsActivity"
            android:launchMode="singleTask" />

        <!-- 他的关注 -->
        <activity
            android:name=".ui.details.activity.UserGuanZhuActivity"
            android:launchMode="singleTask" />

        <!-- 他的粉丝 -->
        <activity
            android:name=".ui.details.activity.UserFenSiActivity"
            android:launchMode="singleTask" />
        <!-- 我的心愿单 -->
        <activity
            android:name=".ui.world.activity.MyWishActivity"
            android:launchMode="singleTask" />
        <!-- 收支明细 -->
        <activity
            android:name=".ui.mine.activity.PaymentDetailsActivity"
            android:launchMode="singleTask" />
        <!-- 收支详情 -->
        <activity
            android:name=".ui.mine.activity.PaymentDetails_DetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.world.activity.ShiftCityActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.add.activity.AddFromContactsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.add.activity.CaptureActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.we.activity.MeassageActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.we.activity.ReplyCommentActivity" />
        <activity
            android:name=".ui.add.activity.AddFromQrCodeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.details.activity.CommentActivity" />
        <activity
            android:name=".ui.mine.activity.RankActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mine.activity.RankDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mine.activity.BuyPermissionActivity"
            android:launchMode="singleTask" />

        <!-- &lt;!&ndash; For test only 测试的主程序 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="jupush.RenameActivity" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- 极光推送 测试高级功能 -->
        <!-- <activity android:name="jupush.PushSetActivity" /> -->
        <!-- For test only 测试设置 -->
        <!-- <activity android:name="jupush.SettingActivity" /> -->
        <!-- &lt;!&ndash; For test only 测试状态通知栏，需要打开的Activity &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="jupush.TestActivity" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="jpush.testAction" /> -->


        <!-- <category android:name="jpush.testCategory" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity android:name="cn.jpush.android.ui.PopWinActivity" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wevalue" />
                g
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.wevalue" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.wevalue" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="jupush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.wevalue" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6194f9a1b89403697b961b62" /> <!-- </>值来自开发者平台取得的AppKey -->

        <activity android:name=".ui.details.activity.RepostNoteDetailActivity" />

        <!-- 分享的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- //微信支付 -->
        <activity
            android:name=".ui.payment.wxpay.WxPayActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxeb128aba017ef3b9" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.payment.alipay.ALiPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.mine.activity.WithdrawActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.mine.activity.AvatarActivity" />
        <activity android:name=".ui.we.activity.PushContentActivity" />
        <activity
            android:name=".ui.login.RenZhengZhongActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".ui.details.activity.DragPhotoActivity" />
        <activity android:name=".ui.details.activity.UserReportActivity"></activity>
    </application>

</manifest>